In [2]:
import psycopg2
import pandas as pd
import sqlalchemy
import os

In [3]:
lims_user = "atlasreader"
lims_pwd = "atlasro"
lims_alias = "limsdb3"

engine = sqlalchemy.create_engine(
    f"postgresql+psycopg2://{lims_user}:{lims_pwd}@{lims_alias}/lims2")

In [8]:
query = '''
        select sp.id as specimen_id,
        sp.name as specimen_name,
        t.name as treatment_name,
        iser.id as image_series_id,
        sc.resolution as image_resolution,
        img.id as image_id,
        img.zoom,
        img.zoom_tiers,
        sl.storage_directory,
        si.*
        from sub_images si
        join image_series iser on si.image_series_id = iser.id
        join run_groups rg on  iser.run_group_id = rg.id
        join treatments t on t.id = rg.treatment_id
        join images img on img.id = si.image_id
        join slides sl on sl.id = img.slide_id
        join scans sc ON sc.slide_id = sl.id
        join specimens sp on iser.specimen_id = sp.id
        where sp.name = 'QM23.50.001.CX.44.01.HE'
        '''
res = pd.read_sql(query,con=engine)
res

,specimen_id,specimen_name,treatment_name,image_series_id,image_resolution,image_id,zoom,zoom_tiers,storage_directory,id,...,col,specimen_tissue_index,closest_nissl_sub_image_id,area,image_series_sub_image_index,alignment2d_id,sub_image_type_id,bounding_box_index,lims1_id,svg_upload_msg
0,1304634597,QM23.50.001.CX.44.01.HE,H&E,1304649496,0.55,1304649495,2310184402.aff,8,/allen/programs/celltypes/production/nhpcellty...,1304649497,...,0,2,None,None,2,None,1,1,None,None
1,1304634597,QM23.50.001.CX.44.01.HE,H&E,1304649496,0.55,1304649498,2310184401.aff,8,/allen/programs/celltypes/production/nhpcellty...,1304649499,...,0,1,None,None,1,None,1,1,None,None

In [13]:
query = '''
        select img.*
        from sub_images si
        join image_series iser on si.image_series_id = iser.id
        join run_groups rg on  iser.run_group_id = rg.id
        join treatments t on t.id = rg.treatment_id
        join images img on img.id = si.image_id
        join slides sl on sl.id = img.slide_id
        join scans sc ON sc.slide_id = sl.id
        join specimens sp on iser.specimen_id = sp.id
        where sp.name = 'QM23.50.001.CX.44.01.HE'
        '''
res = pd.read_sql(query,con=engine)
res

,id,jp2,zoom,created_at,updated_at,qc_date,slide_id,width,height,image_type_id,parent_id,position,specimen_id,jp2_md5sum,flip_id,zoom_tiers,archive_dir,zoom_archive_dir,treatment_id
0,1304649495,2310184402.jp2,2310184402.aff,2023-10-18 22:06:22.467186,2023-10-23 23:12:00.675588,None,1304634680,14912,28848,1,None,1,None,None,4,8,None,None,None
1,1304649498,2310184401.jp2,2310184401.aff,2023-10-18 22:06:22.531408,2023-10-23 23:06:54.464835,None,1304634679,16352,27632,1,None,1,None,None,4,8,None,None,None

In [24]:
query = '''
        select sc.*,
        img.id as image_id_imgtable
        from sub_images si
        join image_series iser on si.image_series_id = iser.id
        join run_groups rg on  iser.run_group_id = rg.id
        join treatments t on t.id = rg.treatment_id
        join images img on img.id = si.image_id
        join slides sl on sl.id = img.slide_id
        join scans sc ON sc.slide_id = sl.id
        join specimens sp on iser.specimen_id = sp.id
        where sp.name = 'QM23.50.001.CX.44.01.HE'
        '''
res = pd.read_sql(query,con=engine)
res

,id,path,archived_at,superseded,slide_id,scanner_id,created_at,updated_at,image_id,state,resolution,bits_per_component,number_of_components,rotation,offset_x,offset_y,treatment_id,project_id,specimen_id,image_id_imgtable
0,1305788963,/allen/programs/celltypes/production/incoming/...,2023-11-01 21:41:40.991515,False,1304634680,1049455195,2023-10-23 22:50:38.689833,2023-11-01 21:41:40.992176,None,archived_to_cloud,0.55,8,3,None,None,None,None,1214247498,1304634597,1304649495
1,1305787725,/allen/programs/celltypes/production/incoming/...,2023-11-01 21:40:37.964310,False,1304634679,1049455195,2023-10-23 22:45:40.206490,2023-11-01 21:40:37.965090,None,archived_to_cloud,0.55,8,3,None,None,None,None,1214247498,1304634597,1304649498

In [26]:
query = '''
        select si.*,
        img.id as image_id_imgtable
        from sub_images si
        join image_series iser on si.image_series_id = iser.id
        join run_groups rg on  iser.run_group_id = rg.id
        join treatments t on t.id = rg.treatment_id
        join images img on img.id = si.image_id
        join slides sl on sl.id = img.slide_id
        join scans sc ON sc.slide_id = sl.id
        join specimens sp on iser.specimen_id = sp.id
        where sp.name = 'QM23.50.001.CX.44.01.HE'
        '''
res = pd.read_sql(query,con=engine)
res

,id,image_id,row,x,y,width,height,created_at,updated_at,image_series_id,...,specimen_tissue_index,closest_nissl_sub_image_id,area,image_series_sub_image_index,alignment2d_id,sub_image_type_id,bounding_box_index,lims1_id,svg_upload_msg,image_id_imgtable
0,1304649497,1304649495,0,1,1,14910,28846,2023-10-18 22:06:22.512701,2023-10-23 23:16:34.926489,1304649496,...,2,None,None,2,None,1,1,None,None,1304649495
1,1304649499,1304649498,0,1,1,16350,27630,2023-10-18 22:06:22.562639,2023-10-23 23:11:49.734936,1304649496,...,1,None,None,1,None,1,1,None,None,1304649498

In [18]:
res.path[0]

'/allen/programs/celltypes/production/incoming/nhpcelltypes/macaqueatlas/2310184402.scn'

In [22]:
#sp_id = '1304634597'
sp_id = '1297061003'
query = f'''
        select sc.*
        from specimens sp
        join images img on img.specimen_id = sp.id
        join scans sc on sc.image_id = img.id
        where sp.id = {sp_id}
        '''
res = pd.read_sql(query,con=engine)
res

,id,path,archived_at,superseded,slide_id,scanner_id,created_at,updated_at,image_id,state,resolution,bits_per_component,number_of_components,rotation,offset_x,offset_y,treatment_id,project_id,specimen_id
0,1316183762,/allen/programs/celltypes/production/nhpcellty...,None,False,None,2,2023-12-07 19:21:10.103378,2023-12-07 19:21:10.103378,1316183760,do_not_archive,30.3,None,None,None,None,None,None,1214247498,1297061003
1,1316183651,/allen/programs/celltypes/production/nhpcellty...,None,False,None,2,2023-12-07 19:20:55.485294,2023-12-07 19:20:55.485294,1316183649,do_not_archive,30.3,None,None,None,None,None,None,1214247498,1297061003
2,1312798660,/allen/programs/celltypes/production/nhpcellty...,None,False,None,2,2023-11-22 17:50:56.075369,2023-11-22 17:50:56.075369,1312798656,do_not_archive,12.0,None,None,None,None,None,None,1214247498,1297061003
3,1312798617,/allen/programs/celltypes/production/nhpcellty...,None,False,None,2,2023-11-22 17:50:51.195584,2023-11-22 17:50:51.195584,1312798614,do_not_archive,12.0,None,None,None,None,None,None,1214247498,1297061003

In [23]:
res.path[0]

'/allen/programs/celltypes/production/nhpcelltypes/macaqueatlas/prod0/specimen_1297061003/'

In [19]:
sp_id = '1297061003' # blockface image
#sp_id = '1304634597' # HE image
query = f'''
        select img.zoom as zoom,
        img.jp2 as jp2,
        sp.storage_directory as storage_directory,
        sc.resolution as resolution
        from specimens sp
        join images img on img.specimen_id = sp.id
        join scans sc on sc.image_id = img.id
        where sp.id = {sp_id}
        '''
res = pd.read_sql(query,con=engine)
res

,zoom,jp2,storage_directory,resolution
0,4_8719_1297061003_blockface_images-0001.aff,4_8719_1297061003_blockface_images-0001.tif,/allen/programs/celltypes/production/nhpcellty...,30.3
1,3_8718_1297061003_blockface_images-0000.aff,3_8718_1297061003_blockface_images-0000.tif,/allen/programs/celltypes/production/nhpcellty...,30.3
2,2_1297061003_blockface_images-0001.aff,2_1297061003_blockface_images-0001.tif,/allen/programs/celltypes/production/nhpcellty...,12.0
3,1_1297061003_blockface_images-0000.aff,1_1297061003_blockface_images-0000.tif,/allen/programs/celltypes/production/nhpcellty...,12.0

In [31]:
row = res.iloc[0]
print(os.path.join(row.storage_directory, row.jp2))

/allen/programs/celltypes/production/nhpcelltypes/macaqueatlas/prod0/specimen_1289945666/1_1289945666_blockface_images-0000.tif

In [23]:
res.path[0]

'/allen/programs/celltypes/production/nhpcelltypes/macaqueatlas/prod0/specimen_1289945666/'

In [5]:
query = '''
        select sp.id as specimen_id,
        sp.name as specimen_name,
        t.name as treatment_name,
        iser.id as image_series_id,
        sc.resolution as image_resolution,
        img.zoom,
        img.zoom_tiers,
        si.*
        from sub_images si
        join image_series iser on si.image_series_id = iser.id
        join run_groups rg on  iser.run_group_id = rg.id
        join treatments t on t.id = rg.treatment_id
        join images img on img.id = si.image_id
        join scans sc ON sc.image_id = img.id
        join specimens sp on iser.specimen_id = sp.id
        where sp.name = 'QM23.50.001.CX.44.01.HE'
        '''
res = pd.read_sql(query,con=engine)
res

Empty DataFrame
Columns: [specimen_id, specimen_name, treatment_name, image_series_id, image_resolution, zoom, zoom_tiers, id, image_id, row, x, y, width, height, created_at, updated_at, image_series_id, failed, specimen_id, sub_image_qcstate_reason_id, qc_date, expression, structure_id, col, specimen_tissue_index, closest_nissl_sub_image_id, area, image_series_sub_image_index, alignment2d_id, sub_image_type_id, bounding_box_index, lims1_id, svg_upload_msg]
Index: []

[0 rows x 33 columns]

In [5]:
from glob import glob
import re
files = glob('/allen/programs/celltypes/workgroups/rnaseqanalysis/mFISH/merfish_qc/macaque/mfishmerscopemacaqueatlas/qc_images/*_dapi.png')
files = [file.split('/')[-1] for file in files]
filtered_files = [f for f in files if re.match(r'\d+_dapi\.png', f)]
barcodes = [file.split('_')[0] for file in filtered_files]

specimen_barcode_dict = {}
for barcode in barcodes:
    query = '''
            select sp.id as specimen_id,
            sp.name as specimen_name,
            sp.barcode as barcode
            from specimens sp
            where sp.barcode = '%s'
            ''' % barcode
    res = pd.read_sql(query,con=engine)
    if len(res) == 0:
        print("No LIMS2 entry found")
    elif(len(res) > 1):
        print("More than one entry found")
    else:
        specimen_name = res['specimen_name'].iloc[0]
        specimen_barcode_dict[specimen_name] = barcode

1291812132
QM23.50.001.CX.43.02.11.02
1291812195
QM23.50.001.CX.43.02.07.03
1291820940
QM23.50.001.CX.46.01.01.02
1291815690
QM23.50.001.CX.45.03.05.02
1291813673
QM23.50.001.CX.44.04.05.03
1291814154
QM23.50.001.CX.44.01.01.02
1291820837
QM23.50.001.CX.46.01.07.02
1291816092
QM23.50.001.CX.45.01.01.02
1291814069
QM23.50.001.CX.44.01.07.02
1291815525
QM23.50.001.CX.45.04.05.03
1291812368
QM23.50.001.CX.43.01.09.03
1291820518
QM23.50.001.CX.46.03.01.03
1291813725
No LIMS2 entry found
1291813932
QM23.50.001.CX.44.02.07.03
1291820638
QM23.50.001.CX.46.02.05.02
1291814126
QM23.50.001.CX.44.01.03.02
1291820711
QM23.50.001.CX.46.02.01.03
1291813960
QM23.50.001.CX.44.02.05.03
1291810584
QM23.50.001.CX.42.02.05.03
1291812447
QM23.50.001.CX.43.01.03.02
1291812161
QM23.50.001.CX.43.02.09.02
1291812074
QM23.50.001.CX.43.03.01.02
1291816006
QM23.50.001.CX.45.01.07.02
1291811960
QM23.50.001.CX.43.03.09.02
1291815461
QM23.50.001.CX.45.04.09.02
1291815662
QM23.50.001.CX.45.03.07.02
1291815891
QM23.50.001.CX.45.02.03.02
1291815983
QM23.50.001.CX.45.01.09.03
1291820871
QM23.50.001.CX.46.01.05.02
1291813702
QM23.50.001.CX.44.04.03.03
1291813781
QM23.50.001.CX.44.03.07.02
1291815553
QM23.50.001.CX.45.04.03.03
1291809823
QM23.50.001.CX.42.01.03.02
1291815604
QM23.50.001.CX.45.03.11.02
1291812390
QM23.50.001.CX.43.01.07.02
1291814104
QM23.50.001.CX.44.01.05.03
1291815834
QM23.50.001.CX.45.02.07.02
1291820804
QM23.50.001.CX.46.01.09.02
1291814039
QM23.50.001.CX.44.01.09.02
1291815719
QM23.50.001.CX.45.03.03.02
1291815575
QM23.50.001.CX.45.04.01.02
1291820549
QM23.50.001.CX.46.02.11.03
1291810555
QM23.50.001.CX.42.02.07.03
1291810606
QM23.50.001.CX.42.02.03.02
1291813874
QM23.50.001.CX.44.03.01.03
1291813811
QM23.50.001.CX.44.03.05.02
1291820670
QM23.50.001.CX.46.02.03.02
1291812338
QM23.50.001.CX.43.01.11.03
1291820412
QM23.50.001.CX.46.03.07.02
1291815747
QM23.50.001.CX.45.03.01.02
1291811931
QM23.50.001.CX.43.03.11.02
1291809771
QM23.50.001.CX.42.01.07.03
1291811989
QM23.50.001.CX.43.03.07.02
1291807036
QM23.50.001.CX.42.01.01.02
1291812247
QM23.50.001.CX.43.02.03.02
1291820378
QM23.50.001.CX.46.03.09.02
1291820143
QM23.50.001.CX.46.04.11.03
1291820171
QM23.50.001.CX.46.04.09.02
1291820907
QM23.50.001.CX.46.01.03.02
1291820240
QM23.50.001.CX.46.04.05.02
1291820206
QM23.50.001.CX.46.04.07.02
1291816035
QM23.50.001.CX.45.01.05.02
1291813753
QM23.50.001.CX.44.03.09.02
1291810548
QM23.50.001.CX.42.02.07.02
1291811909
QM23.50.001.CX.43.03.13.03
1291812046
QM23.50.001.CX.43.03.03.02
1291814017
QM23.50.001.CX.44.02.01.03
1291820348
QM23.50.001.CX.46.03.11.03
1291815496
QM23.50.001.CX.45.04.07.03
1291815639
QM23.50.001.CX.45.03.09.03
1291815490
QM23.50.001.CX.45.04.07.02
1291809799
QM23.50.001.CX.42.01.05.03
1291813731
QM23.50.001.CX.44.04.01.03
1291812018
QM23.50.001.CX.43.03.05.02
1291816063
QM23.50.001.CX.45.01.03.02
1291820573
QM23.50.001.CX.46.02.09.02
1291820443
QM23.50.001.CX.46.03.05.02
1291815868
QM23.50.001.CX.45.02.05.03
1291813610
QM23.50.001.CX.44.04.09.02
1291813661
QM23.50.001.CX.44.04.05.01
1291813896
QM23.50.001.CX.44.02.09.02
1291815811
QM23.50.001.CX.45.02.09.03
1291813983
QM23.50.001.CX.44.02.03.02
1291813840
QM23.50.001.CX.44.03.03.02
1291820271
QM23.50.001.CX.46.04.03.02
1291815519
QM23.50.001.CX.45.04.05.02
1291812310
QM23.50.001.CX.43.01.13.03
1291813690
QM23.50.001.CX.44.04.03.01
1291812276
QM23.50.001.CX.43.02.01.02
1291813638
QM23.50.001.CX.44.04.07.02
1291815949
QM23.50.001.CX.45.01.11.02
1291815431
QM23.50.001.CX.45.04.11.02
1291815776
QM23.50.001.CX.45.02.11.02
1291812419
QM23.50.001.CX.43.01.05.02
1291815926
QM23.50.001.CX.45.02.01.03
1291820304
QM23.50.001.CX.46.04.01.02
1291820777
QM23.50.001.CX.46.01.11.03
1291810634
QM23.50.001.CX.42.02.01.02
1291812218
QM23.50.001.CX.43.02.05.02
1291813667
QM23.50.001.CX.44.04.05.02
1291820104
QM23.50.001.CX.46.04.13.02
1291812475
QM23.50.001.CX.43.01.01.02

In [7]:
from pathlib import Path
import shutil

sp_names = list(specimen_barcode_dict.keys())
cache_dir = Path('/allen/aibs/informatics/mike.huang/hmba/QM23.50.001.CX.44.DAPI')
# create cache_dir if it doesn't exist
cache_dir.mkdir(parents=True, exist_ok=True)

source_dir = Path('/allen/programs/celltypes/workgroups/rnaseqanalysis/mFISH/merfish_qc/macaque/mfishmerscopemacaqueatlas/qc_images/')

for i in range(1,5):
    cx44 = [name for name in sp_names if name.startswith(f'QM23.50.001.CX.44.0{i}')]
    print(cx44)
    for sp_name in cx44:
        barcode = specimen_barcode_dict[sp_name]
        filename = f'{barcode}_dapi.png'
        out_filename = f'{sp_name}.png'
        shutil.copy2(source_dir / filename, cache_dir / out_filename)

['QM23.50.001.CX.44.01.01.02', 'QM23.50.001.CX.44.01.07.02', 'QM23.50.001.CX.44.01.03.02', 'QM23.50.001.CX.44.01.05.03', 'QM23.50.001.CX.44.01.09.02']
['QM23.50.001.CX.44.02.07.03', 'QM23.50.001.CX.44.02.05.03', 'QM23.50.001.CX.44.02.01.03', 'QM23.50.001.CX.44.02.09.02', 'QM23.50.001.CX.44.02.03.02']
['QM23.50.001.CX.44.03.07.02', 'QM23.50.001.CX.44.03.01.03', 'QM23.50.001.CX.44.03.05.02', 'QM23.50.001.CX.44.03.09.02', 'QM23.50.001.CX.44.03.03.02']
['QM23.50.001.CX.44.04.05.03', 'QM23.50.001.CX.44.04.03.03', 'QM23.50.001.CX.44.04.01.03', 'QM23.50.001.CX.44.04.09.02', 'QM23.50.001.CX.44.04.05.01', 'QM23.50.001.CX.44.04.03.01', 'QM23.50.001.CX.44.04.07.02', 'QM23.50.001.CX.44.04.05.02']

In [1]:
cx44_ = ['QM23.50.001.CX.44.01.05.02', 'QM23.50.001.CX.44.02.05.03', 'QM23.50.001.CX.44.03.05.02', 'QM23.50.001.CX.44.04.05.03']
cx44_barcodes = [specimen_barcode_dict[name] for name in cx44_]
cx44_barcodes

NameError: name 'specimen_barcode_dict' is not defined

In [44]:
specimen_barcode_dict['QM23.50.001.CX.44.04.03.03']

'1291813702'

In [22]:
barcode = 1291813725
query = '''
        select sp.id as specimen_id,
        sp.name as specimen_name,
        sp.barcode as barcode
        from specimens sp
        where sp.barcode = '%s'
        ''' % barcode
res = pd.read_sql(query,con=engine)
len(res)

0

In [41]:
id = 1291810548
query = '''
        select sp.id as specimen_id,
        sp.name as specimen_name,
        sp.barcode as barcode
        from specimens sp
        where sp.id = '%s'
        ''' % id
res = pd.read_sql(query,con=engine)
res

   specimen_id               specimen_name     barcode
0   1291810548  QM23.50.001.CX.42.02.07.02  1291810548

In [17]:
# query the donor metadata
donor_name = 'Q21.26.005'
query = '''
    select 
    d.id as donor_id,
    d.name as donor_name,
    tax.name as species,
    sex.name as sex,
    age.name as age_at_death
    from donors d
    left join organisms tax on d.organism_id = tax.id
    left join genders sex on d.gender_id = sex.id
    left join ages age on d.age_id = age.id
    where d.name = '%s'
''' % donor_name

res = pd.read_sql(query,con=engine)
res

     donor_id  donor_name            species sex age_at_death
0  1082751941  Q21.26.005  Macaca nemestrina   F        5 yrs

In [14]:
# query all specimen belonging to donor
donor_name = 'Q21.26.005'
query = '''
    select
    sp.id as specimen_id,
    sp.name as specimen_name,
    d.id as donor_id,
    p.name as project_name,
    plane.name as plane_of_section,
    h.name as hemisphere,
    parent.id as parent_specimen_id,
    parent.name as parent_specimen_name,
    sp.parent_x_coord,
    sp.parent_y_coord,
    sp.parent_z_coord
    from specimens sp
    left join donors d on sp.donor_id = d.id
    left join plane_of_sections plane on sp.plane_of_section_id = plane.id
    left join hemispheres h on sp.hemisphere_id = h.id
    left join specimens parent on sp.parent_id = parent.id
    left join projects p on sp.project_id = p.id
    where d.name = '%s'
''' % donor_name

res = pd.read_sql_query(query,con=engine,dtype={'parent_specimen_id':'Int64',
                                                'parent_x_coord':'Int16',
                                                'parent_y_coord':'Int16',
                                                'parent_z_coord':'Int16',})
res

,specimen_id,specimen_name,donor_id,project_name,plane_of_section,hemisphere,parent_specimen_id,parent_specimen_name,parent_x_coord,parent_y_coord,parent_z_coord
0,1195046987,QM21.26.005.PN.001.002,1082751941,Human in vitro Single Cell Characterization,variable,None,1191398379,QM21.26.005.PN.001,0,0,2
1,1194914276,QM21.26.005.PN.001.001,1082751941,Human in vitro Single Cell Characterization,variable,None,1191398379,QM21.26.005.PN.001,0,0,1
2,1193189174,QM21.26.005.CX08.ETH.001.002,1082751941,Human in vitro Single Cell Characterization,variable,None,1190057803,QM21.26.005.CX08.ETH.001,0,0,2
3,1193188649,QM21.26.005.CX08.ETH.001.001,1082751941,Human in vitro Single Cell Characterization,variable,None,1190057803,QM21.26.005.CX08.ETH.001,0,0,1
4,1249146873,Q21.26.005.CX.07.02.09.03,1082751941,mfishMERSCOPEmacaqueAtlas,coronal,None,1248916394,Q21.26.005.CX.07.02.09,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
91,1082752954,Q21.26.005.12.05,1082751941,qIVSCC-METa,coronal,None,1082752594,Q21.26.005.12,0,0,5
92,1082752889,Q21.26.005.12.04,1082751941,qIVSCC-METa,coronal,None,1082752594,Q21.26.005.12,0,0,4
93,1082752815,Q21.26.005.12.03,1082751941,qIVSCC-METa,coronal,None,1082752594,Q21.26.005.12,0,0,3
94,1082752594,Q21.26.005.12,1082751941,qIVSCC-METa,n/a,None,1082752228,Q21.26.005,0,0,12
95,1082752228,Q21.26.005,1082751941,qIVSCC-METa,n/a,None,<NA>,None,<NA>,<NA>,<NA>

In [10]:
# all possible specimen types
query = '''
    select *
    from specimen_types
''' 
res = pd.read_sql_query(query,con=engine)
res

,id,name,created_at,updated_at
0,1,Microarray brain,2011-12-02 19:00:11.842003,NaT
1,2,Microarray slab,2011-12-02 19:00:11.842003,NaT
2,3,Microarray block,2011-12-02 19:00:11.842003,NaT
3,4,CX,2011-12-02 19:00:11.842003,NaT
4,5,CB,2011-12-02 19:00:11.842003,NaT
...,...,...,...,...
71,309840200,Anatomic Structures ISH for Enriched Genes,2014-10-17 22:09:04.218959,2014-10-29 23:38:58.398977
72,1229959362,Slab,2022-12-02 03:04:09.624066,2022-12-02 03:04:09.624066
73,1229959363,Block,2022-12-02 03:04:09.648237,2022-12-02 03:04:09.648237
74,1229959364,Section,2022-12-02 03:04:09.670924,2022-12-02 03:04:09.670924
75,1229959361,Brain,2022-12-02 03:04:09.531599,2023-03-10 02:54:19.028985

In [11]:
# get specimen types
donor_name = 'Q21.26.005'
query = '''
    select
    sp.id as specimen_id,
    sp.name as specimen_name,
    st.name as specimen_type_name
    from specimens sp
    join donors d on sp.donor_id = d.id
    join specimen_types_specimens sts on sts.specimen_id = sp.id
    join specimen_types st on sts.specimen_type_id = st.id
    where d.name = '%s'
''' % donor_name

res = pd.read_sql_query(query,con=engine)
res

    specimen_id                 specimen_name specimen_type_name
0    1195046987        QM21.26.005.PN.001.002            Nucleus
1    1194914276        QM21.26.005.PN.001.001            Nucleus
2    1193189174  QM21.26.005.CX08.ETH.001.002            Nucleus
3    1193188649  QM21.26.005.CX08.ETH.001.001            Nucleus
4    1249146873     Q21.26.005.CX.07.02.09.03            Section
5    1249146866     Q21.26.005.CX.07.02.09.02            Section
6    1249146858     Q21.26.005.CX.07.02.09.01            Section
7    1249146696     Q21.26.005.CX.07.02.07.03            Section
8    1249146688     Q21.26.005.CX.07.02.07.02            Section
9    1249146681     Q21.26.005.CX.07.02.07.01            Section
10   1249146606     Q21.26.005.CX.07.02.05.03            Section
11   1249146592     Q21.26.005.CX.07.02.05.01            Section
12   1249146599     Q21.26.005.CX.07.02.05.02            Section
13   1249146485     Q21.26.005.CX.07.02.03.03            Section
14   1249146478     Q21.26.005.CX.07.02.03.02            Section
15   1249146471     Q21.26.005.CX.07.02.03.01            Section
16   1249146329     Q21.26.005.CX.07.02.01.03            Section
17   1249146322     Q21.26.005.CX.07.02.01.02            Section
18   1249146315     Q21.26.005.CX.07.02.01.01            Section
19   1249145818     Q21.26.005.CX.07.01.09.03            Section
20   1249145811     Q21.26.005.CX.07.01.09.02            Section
21   1249145803     Q21.26.005.CX.07.01.09.01            Section
22   1249145646     Q21.26.005.CX.07.01.07.03            Section
23   1249145637     Q21.26.005.CX.07.01.07.02            Section
24   1249145628     Q21.26.005.CX.07.01.07.01            Section
25   1249145494     Q21.26.005.CX.07.01.05.03            Section
26   1249145486     Q21.26.005.CX.07.01.05.02            Section
27   1249145479     Q21.26.005.CX.07.01.05.01            Section
28   1249145368     Q21.26.005.CX.07.01.03.03            Section
29   1249145353     Q21.26.005.CX.07.01.03.01            Section
30   1249145360     Q21.26.005.CX.07.01.03.02            Section
31   1249142946     Q21.26.005.CX.07.01.01.03            Section
32   1249142939     Q21.26.005.CX.07.01.01.02            Section
33   1249142932     Q21.26.005.CX.07.01.01.01            Section
34   1246980068           Q21.26.005.CX.07.04              Block
35   1246980064           Q21.26.005.CX.07.03              Block
36   1246980059           Q21.26.005.CX.07.02              Block
37   1246980054           Q21.26.005.CX.07.01              Block
38   1246976041              Q21.26.005.CX.07               Slab
39   1246976749           Q21.26.005.CX.05.03              Block
40   1246976745           Q21.26.005.CX.05.02              Block
41   1246976741           Q21.26.005.CX.05.01              Block
42   1246975973              Q21.26.005.CX.05               Slab
43   1082940780           Q21.26.005.11.03.02               Cell
44   1082940691           Q21.26.005.11.03.01               Cell
45   1082940629              Q21.26.005.11.03               Cell
46   1082786546           Q21.26.005.12.02.03               Cell
47   1082775263           Q21.26.005.12.02.02               Cell
48   1082761695           Q21.26.005.12.02.01               Cell
49   1082763348           Q21.26.005.12.01.01               Cell
50   1082752228                    Q21.26.005              Brain

In [12]:
# close the connection
engine.dispose()